<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Notes App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 class="logo">My Notes App</h1>
            <nav class="main-nav">
                <button class="nav-button" onclick="window.location.href='/api/notes/add'">Add Note</button>
                <button class="nav-button" onclick="window.location.href='/api/mongo/login'">Login</button>
                <button class="nav-button" onclick="window.location.href='/api/mongo/search'">Search</button>
                <button class="nav-button" onclick="window.location.href='/api/profile'">Profile</button>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="intro">
            <h2>Aplikacja demonstracyjna do dodawania notatek!</h2>
            <p>Aplikacja zaweira podatno</p>
        </section>
    </main>

    <footer class="main-footer">
        <div class="container">
        </div>
    </footer>
</body>
</html>
