<!DOCTYPE html>
<html>
<head>
    <title>Note Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Note Details</h1>
    <p><strong>Login:</strong> <%= note.auth.name %></p>
    <p><strong>Note Text:</strong> <%= note.note.text %></p>
    <p><strong>Command:</strong> <%= note.note.command %></p>

</body>
</html>
