<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Search</h1>
        <form id="searchForm" action="/api/mongo/search" method="post" class="container">
            <input type="text" name="searchQuery" placeholder="Enter search term" required>
            <button type="submit">Search</button>
        </form>
        <!-- You can include a section here to display search results -->
    </div>
    <script src="/js/search.js"></script>
</body>
</html>